* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body,
html {
  padding: 0;
  margin: 0;
}

.app {
  width: 400px;
  margin: auto;
  max-width: 100%;
  border: 1px solid;
  padding: 0 2rem 2rem 2rem;
  margin-top: 2rem;
  background-color: blanchedalmond;
}

.wish-input {
  border: 0;
  border-bottom: 3px dashed gray;
}

.wish-input__label {
  font-weight: 700;
}

.wish-input__field {
  width: 100%;
  border: 0;
  padding: 1rem;
  font-size: 1.2rem;
  background-color: transparent;
}

.wish-list {
  list-style: none;
  padding: 0;
}

.wish-list__item {
  display: flex;
  font-size: 1.2rem;
  align-items: center;
}

.wish-list__item>*+* {
  margin-left: 1rem;
}

.wish-list__item--done {
  text-decoration: line-through;
}